
<div class="nav-toggle"><i class="fa fa-bars fa-2x"></i> Herring Cove </div>
  <div id = "wrapper">

<div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ .Site.BaseURL }}/"><p class="navbar-brand">{{ .Site.Title }}</p></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
					{{ $baseUrl := .Site.BaseURL }}
          <h2>{{ .Site.BaseURL }}</h2>
					{{range $key, $element := .Site.Params.links}}
					<li><a href="{{ $baseUrl }}{{ $element }}">{{title $key }} </a></li>
					{{ end }}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

       <!-- Sidebar -->
       <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
					<img src="{{ .Site.Params.ProfilePicture }}" />
          <li class="sidebar-brand"><a href="{{ .Site.BaseURL }}/"><h1 class="brand">{{ .Site.Title }}</h1></a><h3>{{ .Site.Params.Description }}</h3></li>
          <hr />

					{{range $key, $element := .Site.Params.links}}
						<li><a href="{{ $baseUrl }}{{ $element }}">{{title $key }} </a></li>
					{{ end }}
          <hr />

          <div id="social-wrapper">
           {{ with .Site.Params.author }}
             {{ with .twitter }}<li> <a href="https://twitter.com/{{ . }}"><i class="fa fa-twitter-square"></i> @twitter</a></li>{{end}}
           {{end}}

           {{ with .Site.Params.author }}
             {{ with .linkedin}}<li> <a href="{{ . }}"><i class="fa fa-linkedin-square"></i> linkedin</a> </li>{{end}}
           {{end}}

           {{ with .Site.Params.author }}
             {{ with .facebook }}<li> <a href="{{ . }}"><i class="fa fa-facebook-square"></i> facebook</a></li>{{end}}
           {{end}}

           {{ with .Site.Params.author }}
             {{ with .github }}<li> <a href="https://github.com/{{ . }}"><i class="fa fa-github-square"></i> github</a> </li>{{end}}
           {{end}}
         </div>

       </ul>
     </div>

     <div class="container">

