<!-- image -->
<!--
<a title="lightbox description" href="full image link" rel="prettyPhoto" rel="nofollow"><img alt="lightbox title" src="thumbnail image link" /></a>
//-->
<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
    <a href="{{ .Get "src"}}" data-lightbox="default" rel="group1" class="fancybox">
        <img src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} />
    </a>
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <h4>{{ .Get "title" }}</h4>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<p>
        {{ .Get "caption" }}
        {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
            {{ .Get "attr" }}
        {{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>
<!-- image -->
