<!-- image -->
<!--
<a title="lightbox description" href="full image link" rel="prettyPhoto" rel="nofollow"><img alt="lightbox title" src="thumbnail image link" /></a>
//-->
<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
    <a href="{{ .Get "src"}}" data-lightbox="default" {{ if or (.Get "alt") (.Get "caption") }}data-title="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} >
        <img src="{{ .Get "src"}}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} >
    </a>
</figure>
<!-- image -->
